body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero_content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.logo h3 {
    font-size: 24px;
    color: #F9FAF8;   
}

button, .call_to_action_content {
    background-color: #3882F6;
    color: #E5E7EB;
}

.info_title h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 20px;
    margin-top: 0;
    
}

.quote_section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.quote_section p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 900px;
    margin-bottom: 0;
}

.quote_section h3 {
    margin-top: 0;
    padding-left: 500px;
}

.footer p {
    color:#E5E7EB
}

.imgs_and_txt img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    object-fit: cover;
}

.hero img {
    width: 400px;
    height: auto;
}

.header, .hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.header_links{
    display: flex;
    gap: 20px;
}

.header_links p {
    margin: 0;
}

.hero_content {
    padding-bottom: 150px;
    padding-top: 75px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.hero_text p {
    margin-top: 5px;
}

.hero_text button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.imgs_and_txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.imgs_and_txt p {
    max-width: 200px;
    margin: 0;
    text-align: center;
}

.cta {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.call_to_action_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-radius: 15px;
}

.cta_txt {
    padding-right: 150px;
}

.cta_button button {
    width: 110px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid white;
}

.cta_txt h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.cta_txt p {
    margin-top: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


